<nav>
    <div class="nav-wrapper #6d4c41 brown darken-1">
      <ul>
         
          <% if (!currentUser) { %>
            <li><a href="/">Home</a></li>
          <% } else { %>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Search</a></li>
            <li><a href="/cookbook">Favorite</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <% } %> 
      </ul>
    </div>
  </nav>