<h2>Edit Your Profile</h2>
<h5>Please enter your email: </h5>

<form method="POST" action="/edit">
    <label for="auth-email">Email</label>
    <input style="color:white;" id="auth-email" type="email" name="email">
    <button class=" btn btn-primary" type="submit" value="Log In"><i class="material-icons center">send</i></button>
</form>