
            <div style="text-align: center; margin: 100px; " data-target="mobile-demo">
               
                <% if(!currentUser) {%>
                    <div>
                        <h3 style="font-weight:bold;font-family:courier;">Welcome To Food and Cocktail Blog </h3>
                        <h5 style="font-family:courier;">You can find your favorite food and cocktail recipes here</h5>
                    </br>
           
                        <div class="heartbeat">
                            <img src="./image/drink2.jpeg" alt="image" >
                            <img src="./image/food2.jpeg" alt="image" >
                            <img src="./image/drink3.jpeg" alt="image" >
                            <img src="./image/food14.jpeg" alt="image" >
                            <img src="./image/drink5.jpeg" alt="image" >
                            <img src="./image/food5.jpeg" alt="image" >
                            <img src="./image/food8.jpeg" alt="image" >
                            <img src="./image/drink1.jpeg" alt="image" >
                            <img src="./image/food9.jpeg" alt="image" >
                            <img src="./image/drink4.jpeg" alt="image" >
                            <img src="./image/food3.jpeg" alt="image" >
                            <img src="./image/food13.jpeg" alt="image" >
                        </div>
                    </div>
                    
                <% } else { %>
                    <h3 style="font-weight:bold;font-family:courier;">Welcome Back To Your Blog</h3>
                    <h5 style="font-family:courier;">Can't wait to see your favorite blog posts !</h5>
                </br>
          
                        <div class="heartbeat">
                            <img src="./image/drink2.jpeg" alt="image" >
                            <img src="./image/food2.jpeg" alt="image" >
                            <img src="./image/drink3.jpeg" alt="image" >
                            <img src="./image/food14.jpeg" alt="image" >
                            <img src="./image/drink5.jpeg" alt="image" >
                            <img src="./image/food5.jpeg" alt="image" >
                            <img src="./image/food8.jpeg" alt="image" >
                            <img src="./image/drink1.jpeg" alt="image" >
                            <img src="./image/food9.jpeg" alt="image" >
                            <img src="./image/drink4.jpeg" alt="image" >
                            <img src="./image/food3.jpeg" alt="image" >
                            <img src="./image/food13.jpeg" alt="image" >
                        </div>
                    
                <% } %>    
            </div>



