<h2>Please enter your new email: </h2>

<form method="POST" action="/update/?_method=PUT">
    <label for="auth-email">New Email: </label>
    <input style="color:white;" id="auth-email" type="email" name="email">
    <input type="submit">
</form>